$border-width: 2px;

ion-grid {
    padding: 0;
    height: calc(100% - $border-width);

    ion-row:first-of-type {
        ion-col {
            border-top-width: $border-width;
        }
    }
    ion-row:last-of-type {
        ion-col {
            border-bottom-width: $border-width;
        }
    }
    ion-row {
        height: 20%;
        ion-col:first-of-type {
            border-left-width: $border-width;
        }
        ion-col:last-of-type {
            border-right-width: $border-width;
        }
    }
    ion-col {
        border-width: 0.5px;
        border-style: solid;
        border-color: #CCCCCC;
    }
}
