<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{dateTable.yearMonth}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row *ngFor="let dateRow of dateTable.dateRows">
      <ion-col *ngFor="let date of dateRow.dateList">
        <span *ngIf="date">{{date.getDate()}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
